

@media all and (max-width: 1050px) {
	.userOptions {	
		.wrapper {
			width: 90%;
		}
	}
	section.results {
		.recipeImage {
				width: 265px;
		}
	}
}

@media all and (max-width: 900px) {

	aside.side {
		left: 3%;
		button {
			font-size: 1.8rem;
		}
	}
	section.results ul .recipe {
		padding: 20px 10px;
	}
	section.results {
		width: 70%;
	}
	section.results .recipeImage {
		float: none;
		width: 350px;
		margin: 0 0 10px;
	}
	section.results span.primary {
		h3 {
			font-size: 1.7rem;
		}
		h4 {
			font-size: 1.5rem;
		}
	}
}

@media all and (max-width: 850px) {
	header h1 {
		font-size: 9.8rem;
	}
	aside.side {
		left: 3%;
		h2 {
			font-size: 2rem;
		}
		button {
			font-size: 1.5rem;
		}
	}
	section.results {
		padding-right: 20px;
			span.primary {
				h3 {
					font-size: 1.8rem;
				}
				h4 {
					font-size: 1.4rem;
				}
			}
		}
}


@media all and (max-width: 835px) {

	}

@media all and (max-width: 770px) {
	.userOptions {
		.wrapper {
			width: 70%;
		}
		form fieldset {
			h2 {
				margin-bottom: 30px;
			}
		}
		form fieldset.chooseAnimal{
			label {
			width: 50%;
			}	
		} 
	}
}

@media all and (max-width: 715px) {
	aside.top {
		display: block;
	}
	aside.side {
		display: none;
		position: static;
	}
	div.resultsBkg section.results {
		width: 100%;
		h5#credit {
			font-size: 1.4rem;
			img {
				width: 75px;
			}
		}
		// position: static;
	}
	// aside button {
	// 	display: inline-block;
	// 	padding: 8px 15px;
	// }
}

@media all and (max-width: 660px) {
	header h1 {
		font-size: 9rem;
	}

	section.results span.primary {
		h3 {
			font-size: 1.7rem;
		}
		h4 {
			font-size: 1.5rem;
		}
	}
}


@media all and (max-width: 620px) {
	form fieldset {
		
		h2 {
			width: 70%;
			margin: 0 auto;

		}
	} 
}

@media all and (max-width: 570px) {
	header {
		padding: 20px 0;
		.wrapper {
			
			h1 {
			font-size: 7.8rem;
			}
			object:before, 
			object:after {
				width: 150%;
			}
		}
	}
	.userOptions {
		.wrapper {
			width: 80%;
		}

	}
}

@media all and (max-width: 475px) {
	form fieldset {
		h2 {
			width: 85%;

		}
	} 
	section.results .recipeImage {
		float: none;
		margin-bottom: 20px;
	}
	section.results span.primary {
		h3 {
			font-size: 1.7rem;
		}
		h4 {
			font-size: 1.5rem;
		}
	}
}

@media all and (max-width: 450px) {
	header {
		.wrapper {
			object:before, 
			object:after {
				width: 80%;
			}
		}
		button#showOptions {
			padding: 10px 20px;
			font-size: 2.8rem;
		}
	}
	section.results .recipeImage {
		width: 295px;
	}
}

@media all and (max-width: 400px) {
	.userOptions {
		.wrapper {
			width: 95%;
		}
		a#home {
			display: none;
		}
		form {
			padding-bottom: 100px;
		}
	}
	.userOptions form fieldset object.animalIcon {
		width: 120px;
	}
	.userOptions form fieldset.choosePart {
		margin-bottom: 30px;
	}
	aside.top {
		button {
			float: left;
			margin-right: 10px;
			font-size: 1.3rem;
			padding: 6px 12px;
		}
	}
	div.resultsBkg section.results h5#credit {
		font-size: 0.9rem;
	}
	div.resultsBkg section.results h5#credit img {
		width: 48px;
		top: 8px;
	}
	section.results ul {
		margin-top: 8px;
	}
	section.results .recipeImage {
		width: 245px;
	}

	}


