 // -------------------------- HOUSE KEEPING -------------------------- 
   article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
   input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

   .clearfix:after {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
   }

   *, *:before, *:after {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
    }

 // ------------------------------------------------------------------------------ 



// HOSTED WEB FONTS
@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('../fonts/clearsans_medium_macroman/ClearSans-Light-webfont.eot');
    src: url('../fonts/clearsans_light_macroman/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans_light_macroman/ClearSans-Light-webfont.woff') format('woff'),
         url('../fonts/clearsans_light_macroman/ClearSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/clearsans_light_macroman/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.eot');
    src: url('../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.woff') format('woff'),
         url('../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sorts_mill_goudyitalic';
    src: url('../fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.eot');
    src: url('../fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.woff') format('woff'),
         url('../fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.ttf') format('truetype'),
         url('../fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.svg#sorts_mill_goudyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sorts_mill_goudyregular';
    src: url('../fonts/sortsmillgoudy_regular_macroman/GoudyStM-webfont.eot');
    src: url('../fonts/sortsmillgoudy_regular_macroman/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sortsmillgoudy_regular_macroman/GoudyStM-webfont.woff') format('woff'),
         url('../fonts/sortsmillgoudy_regular_macroman/GoudyStM-webfont.ttf') format('truetype'),
         url('../fonts/sortsmillgoudy_regular_macroman/GoudyStM-webfont.svg#sorts_mill_goudyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hvd_posterregular';
    src: url('../fonts/HVD-Poster-fontfacekit/HVD_Poster-webfont.eot');
    src: url('../fonts/HVD-Poster-fontfacekit/HVD_Poster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HVD-Poster-fontfacekit/HVD_Poster-webfont.woff') format('woff'),
         url('../fonts/HVD-Poster-fontfacekit/HVD_Poster-webfont.ttf') format('truetype'),
         url('../fonts/HVD-Poster-fontfacekit/HVD_Poster-webfont.svg#hvd_posterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// VARIABLES
$font-medium: 'clear_sans_mediumregular';
$font-light: 'clear_sans_lightregular';
$header-font-stack: 'Nixie One', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$goudyRegular: 'sorts_mill_goudyregular';
$hvdPoster: 'hvd_posterregular';
$bkg: url(../images/halftone.png) repeat;
$headerColour: #d43b00;

// MIXINS
@mixin buttonStyle {
	border: 2px solid #918d81;
	font-size: 3rem;
	padding: 10px 30px;
	background: none;
	border-radius: 50px;
	text-align: center;
	font-family: $goudyRegular;
	color: #918d81;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 3.8rem;
	&:hover {
		color: #d43b00;
		border-color: #d43b00;
	}
}

@mixin buttonEffects {
	cursor: pointer;
	box-shadow: none;
	border: 3px solid #fff;
	background: rgba(36, 49, 62, 1);
	color: #f7f7f7;
}

@mixin filterStyle {
	box-shadow: none;
	border: 2px solid #5D677B;
	font-size: 1.8rem;
	padding: 10px 20px;
	background: rgba(50, 67, 83, 0.9);
	border-radius: 50px;
	text-align: center;
	font-family: $font-light;
	color: #91969D;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

@mixin filterEffects {
	// position: relative;
	// top: 2px;
	// background: #7996A7;
	border:2px solid #24313E;
	color: #f7f7f7;
	// border: none;
}

// DEFAULTS
html {
	font-size: 62.5%;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

a, a:visited {
	color: #e2e2e2;
}

a:visited, a:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

button:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	
	// background: url(../images/bkg.jpg) no-repeat center top;
	// -webkit-background-size: cover;
	// background-size: cover;	
	// background-attachment: fixed;
	font-size: 2rem;
	font-family: $font-light;
	letter-spacing: 1.4px;
	// background: #445463;
}

.wrapper {
	width: 70%;
	max-width: 1200px;
	padding: 50px 0 150px;
	margin: 0 auto;
	text-align: center;
}

 // -------------------------- HOUSE KEEPING -------------------------- 

header {
	// display: none;
	width: 100%;
	// position: absolute;
	// top: 0;
	// left: 0;
	z-index: 10;
	padding-top: 10%;
	background: $bkg;
	.wrapper { // HEADER WRAPPER
		width: 70%;
		max-width: 720px;
		padding: 0;
		padding-top: 2%;
		margin: 0 auto;
		text-align: center;
		object {
			display: inline-block;
			position: relative;
			width: 100px;
			height: 100px;
			margin: 10px 0;
			svg {
				position: absolute;
				width: 100%;
				height: 100px;
				top: 0;
				left: 0;
			}
		}
		object:before,
		object:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 200%;
			height: 10px;
			border-top: 2px solid #490000;
			border-bottom: 4px solid #490000;
		}
		object:before {
			right: 100%;
			margin-right: 15px;
		}
		object:after {
			left: 100%;
			margin-left: 15px;
		}
	}
	h1 {
		font-family: $hvdPoster;	
		font-size: 11.6rem;
		color: #d43b00;
		text-transform: lowercase;
		.kerning {
			letter-spacing: 5px;
		}
	}
	h3.tagline {
		font-family: $goudyRegular;	
		font-size: 2.5rem;
		color: #454a51;
		margin-bottom: 40px;
		max-width: 420px;
		margin: 0 auto;
	}
	#showOptions{
		@include buttonStyle;
		margin: 40px 0 80px;
		
	}
	nav {
		width: 30%;
		// float: left;
		display: inline-block;
		// margin: 80px auto;
		vertical-align: top;
		
	}
	p {
		display: inline-block;
		width: 68%;
		margin: 0;
		text-align: left;
		font-size: 3rem;
		// display: none;
		em {
			font-style: normal;
			font-weight: bold;
		}
	}
}
// END OF HEADER

path.heart {
	animation: heartbeat 0.5s ease infinite;
	-webkit-animation: heartbeat 0.5s ease infinite;
	
}

@-webkit-keyframes heartbeat {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.03);
	}
}

@keyframes heartbeat {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.03);
	}
}

// USER OPTIONS
a#home {
	color: #918d81;
	position: relative;
	top: 40px;
	left: 40px;
	font-weight: 500;
	font-family: $hvdPoster;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	object {
		display: inline-block;
		width: 60px;
		position: relative;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&:hover {
			color: $headerColour;
			cursor: pointer;
		}
}
.userOptions {
	width: 100%;
	background: $bkg;
	// display: none;
	.wrapper {
		padding-top:65px;
	}
	form {
		font-family: $font-light;
		h2 {
				font-family: $hvdPoster;
				font-size: 3.5rem;
				color: #d43b00;
				margin-bottom: 30px;
			}
		fieldset {
			border: none;
			// background-color: rgba(230,230,230,0.85);
			border-radius: 8px;
			width: 100%;
			margin: 0 auto;
			margin-bottom: 20px;
			text-align: center;
			
			.alert {
				color: #a50000;
				font-size: 4rem;
			}
			input {
				// margin-right: 3%;
				visibility: hidden;
				position: absolute;
				&:hover + label > object.animalIcon > svg {
					cursor: pointer;
				} 
				&:checked + label > object.animalIcon > svg,
				&:focus + label > object.animalIcon > svg 
				&:active + label > object.animalIcon > svg {
					fill: #454a51;
					
				}
				&:checked + label > h3,
				&:focus + label > h3
				&:active + label > h3 {
					fill: #454a51;
					
				}
			}
			label {
				float: left;
				width: 25%; 
				h3 {
					margin: 0;
					font-size: 2rem;
					color: #454a51;
					font-family: $goudyRegular;
				}
			}
			object.animalIcon {
				width: 150px;
				height: auto;
				display: inline-block;
				position: relative;
				margin-right: 10%;
				&:last-of-type {
					margin-right: 0;
				}
				svg {
					width: 100%;
					height: 100%;
					fill: #918d81;
					
				}
			}
			.checked {
				fill: #454a51;
			}
		}

		fieldset.choosePart {
			text-align: center;
			margin-bottom: 50px;
			p {
				font-family: $goudyRegular;
				font-size: 3rem;	
			}
			legend {
				margin: 0;
			}
			.partContainer {
				width: 70%;
				margin: 0 auto;
				text-align: center;
			}
			label, input {
				display:none;
			}
			input {

				&:checked + label {
					background: #454a51;
					color: #fff;
					&:before {
						border: 1px dashed #fff;
					}
				}

			}
			label {
				padding: 10px;
				position: relative;
				// background: #918d81;
				border: 1px solid #918d81;
				margin: 2% 2% 0 2%;
				text-align: center;
				color: #918d81;
				letter-spacing: 1px;
				font-family: $goudyRegular;
				&:hover {
					cursor: pointer;
				}
				&:before {
					content: '';
					position: absolute;
					top: 4px;
					left: 4px;
					right: 4px;
					bottom: 4px;
					border: 2px solid #918d81;
				}
			}
		}
		#searchButton {
			@include buttonStyle;
		}
	}

}
// END OF USER OPTIONS

// RESULTS 
div.resultsBkg {
	background-color: #445463;
	width: 100%;
	padding: 0;
	min-height: 800px; 
	position: relative;
	display: none;
	.wrapper {
		width: 90%;
		max-width: 1200px;
		padding: 5% 0 10% 0;

	}
}

	// FILTERS
	aside.side, aside.top {
		height: auto;
		display: inline-block;
		text-align: left;
		h2 {
			color: #f7f7f7;
			font-family: $font-light;
			font-size: 2rem;
		}
		button {
		
			@include filterStyle;
			margin-bottom: 12px;
			&:hover {
				@include filterEffects;
			}
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.currentFilter {
			@include filterEffects;
		}
		.goBack {
			position: relative;
			margin-top: 25px;
			padding-top: 15px;
		}
		button {
			display: block;
		}
	}
	aside.side {
		width: 25%;
		position: absolute;
		top: 3%;
		left: 5%;
		.fa, object {
			margin-right: 5px;
		}
		.fa {
			font-size: 18px;
			color: #91969D;
			
		}
		object {
			float: left;
			width: 20px;
			height: 20px;
			svg {
				fill: #91969D;
				width: 100%;
				height: 100%;
			}
		}
		button {
			&:hover .fa {
				color: #f7f7f7;
			}
			&:hover svg {
				fill: #f7f7f7;
			}
		}
		h2 {
			color: #f7f7f7;
			font-family: $font-light;
			font-size: 1.8rem;
		}
		button {
			margin-bottom: 12px;
			&:first-of-type {
				margin-top: 10px;
			}
		}
		.goBack:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 1px;
			width: 60%;
			border-top: 1px dashed white;
		}
	}
	aside.fixed {
		position: fixed;
		top: 11%;
	}
	aside.top {
		width: 100%;
		display: none;
		div.filterOptions {
			display: none;

		}
		// position: absolute;
		// top: 3%;
		// left: 5%;
		h2 {
			margin-bottom: 15px;
			// border-bottom: 1px dashed white;
		}
		button {
			float: left;
			margin-right: 10px;
			font-size: 1.5rem;
			padding: 8px 15px;

		}
		// .goBack:before {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	height: 1px;
		// 	width: 60%;
		// 	border-top: 1px dashed white;
		// }
	}
	// aside.filters#side {
		
		
	// }
	// aside#top {
	// 	display: none;
	// 	width: 25%;
	// 	position: absolute;
	// 	top: 3%;
	// 	left: 5%;
	// 	button {
	// 		display: block;
	// 	}
	// 	.goBack:before {
	// 		content: "";
	// 		position: absolute;
	// 		left: 0;
	// 		top: 0;
	// 		height: 1px;
	// 		width: 60%;
	// 		border-top: 1px dashed white;
	// 	}
	// }
	// SEARCH RESULTS
	section.results {
		width: 73%;
		float: right;
		text-align: left;
		// margin: 0 auto;
		// float: right;
		
		// border: 1px solid white;
		#credit {
			color: lighten(#f7f7f7,4);
			text-align: right;
			border-top: 2px solid #5D677B;
			#yummly {
				display: none;
			}
			img {
				position: relative;
				top: 11px;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			.recipe {
				width: 100%;
				list-style-type: none;
				// background-color: rgba(26,65,91,0.85);
				padding: 20px;
				border-top: 2px solid #5D677B;
				position: relative;
				-webkit-transition: background-color 0.2s;
				transition: background-color 0.2s;
				&:hover {
					background-color: rgba(50,67,83,0.7);
					cursor: pointer;
				}
			}

		}
		span.primary {
			// float:left;
			width: 100%;
			font-family: $font-medium;
			font-family: $goudyRegular;
			h3 {
				font-size: 2rem;
				margin-bottom: 8px;

			}
			h4 {
				font-size: 1.8rem;
				color: lighten(#5D677B,25);
			}
		}
		.recipeImage {
			width: 300px;
			height: 300px*0.6666;
			overflow: hidden;
			float: left;
			margin-right: 20px;
			border-radius: 5px;
			border: 2px solid #5D677B;
			
			// float: right;
			img {
			 width: 100%;
			}
		}

		span.secondary {
			position: relative;
			top: 10px;
			font-size: 1.6rem;
			h5{
			margin-bottom: 5px;
			}
			button {
				// padding: 10px 15px;
				// background: lighten(#5D677B,25);
				padding: 0 0 5px;
				background: none;
				box-shadow: none;
				border: none;
				font-weight: 600;
				font-size: 0.8em;
				margin-top: 25px;
				float: right;
				color: lighten(#5D677B,25);
				border-bottom: 1px dashed #fff;
				.fa-caret-right {
					font-size: 1.5em;
					margin-left: 8px;
					position: relative;
					top: -8px;
				}
				&:hover {
					color: #fff;
				}
			}
		}
		
	}


// END OF RESULTS

// FOOTER
footer {
	clear: both;
	width: 100%;
	// background: #191919;
	font-weight: 600;
}

@import 'mq';
