article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'clear_sans_lightregular';
  src: url("../fonts/clearsans_medium_macroman/ClearSans-Light-webfont.eot");
  src: url("../fonts/clearsans_light_macroman/ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans_light_macroman/ClearSans-Light-webfont.woff") format("woff"), url("../fonts/clearsans_light_macroman/ClearSans-Light-webfont.ttf") format("truetype"), url("../fonts/clearsans_light_macroman/ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sans_mediumregular';
  src: url("../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.eot");
  src: url("../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.woff") format("woff"), url("../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.ttf") format("truetype"), url("../fonts/clearsans_medium_macroman/ClearSans-Medium-webfont.svg#clear_sans_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a, a:visited {
  color: #e2e2e2;
}

a:visited, a:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background: url(../images/bkg.jpg) no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-size: 2rem;
  font-family: "clear_sans_lightregular";
  letter-spacing: 1.4px;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  padding: 10% 0;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  height: 570px;
  background: linear-gradient(to bottom, rgba(29, 36, 38, 0.75) 0%, rgba(68, 84, 99, 0.43) 60%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(top, rgba(29, 36, 38, 0.75) 0%, rgba(68, 84, 99, 0.43) 60%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop 0%, rgba(29, 36, 38, 0.75), color-stop(60%, rgba(68, 84, 99, 0.43)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(29, 36, 38, 0.75) 0%, rgba(68, 84, 99, 0.43) 60%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(29, 36, 38, 0.75) 0%, rgba(68, 84, 99, 0.43) 60%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(29, 36, 38, 0.75) 0%, rgba(68, 84, 99, 0.43) 60%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba1d2e42', endColorstr='#00ffffff', GradientType=0);
}
header .wrapper {
  width: 90%;
  max-width: 1200px;
  padding: 0;
  padding-top: 2%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
}
header h1 {
  font-family: "Nixie One", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 10rem;
}
header h1 .kerning {
  letter-spacing: 5px;
}
header h3.tagline {
  font-family: "Nixie One", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
header nav {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
header nav button {
  float: left;
  border: 3px solid #f7f7f7;
  font-size: 3rem;
  padding: 10px 30px;
  background: rgba(50, 67, 83, 0.9);
  border-radius: 50px;
  text-align: center;
  font-family: "clear_sans_lightregular";
  color: #d6d6d6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 3.8rem;
}
header nav button:hover, header nav button:focus {
  cursor: pointer;
  box-shadow: none;
  border: 3px solid #fff;
  background: #24313e;
  color: #f7f7f7;
}
header p {
  display: inline-block;
  width: 68%;
  margin: 0;
  text-align: left;
  font-size: 3rem;
}
header p em {
  font-style: normal;
  font-weight: bold;
}

.userOptions {
  width: 100%;
}
.userOptions form {
  font-family: "clear_sans_lightregular";
}
.userOptions form fieldset {
  border: none;
  background-color: rgba(230, 230, 230, 0.85);
  padding: 20px 0 40px 0;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}
.userOptions form fieldset h2 {
  font-family: "clear_sans_mediumregular";
  font-size: 3.5rem;
  color: #32373a;
}
.userOptions form fieldset .alert {
  color: #a50000;
  font-size: 4rem;
}
.userOptions form fieldset input {
  visibility: hidden;
  position: absolute;
}
.userOptions form fieldset input:hover + label > object.animalIcon > svg {
  cursor: pointer;
}
.userOptions form fieldset input:checked + label > object.animalIcon > svg, .userOptions form fieldset input:focus + label > object.animalIcon > svg
.userOptions form fieldset input:active + label > object.animalIcon > svg {
  fill: #889fa8;
}
.userOptions form fieldset input:checked + label > h3, .userOptions form fieldset input:focus + label > h3
.userOptions form fieldset input:active + label > h3 {
  color: #889fa8;
}
.userOptions form fieldset label {
  float: left;
  width: 25%;
}
.userOptions form fieldset label h3 {
  margin: 0;
  font-size: 2rem;
  color: #454a51;
}
.userOptions form fieldset object.animalIcon {
  width: 150px;
  height: auto;
  display: inline-block;
  position: relative;
}
.userOptions form fieldset object.animalIcon svg {
  width: 100%;
  height: 100%;
  fill: #454a51;
}
.userOptions form fieldset .checked {
  fill: #889fa8;
}
.userOptions form fieldset.choosePart {
  text-align: center;
  margin-bottom: 50px;
}
.userOptions form fieldset.choosePart p {
  font-size: 3rem;
}
.userOptions form fieldset.choosePart legend {
  margin: 0;
}
.userOptions form fieldset.choosePart .partContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.userOptions form fieldset.choosePart label, .userOptions form fieldset.choosePart input {
  display: none;
}
.userOptions form fieldset.choosePart input:checked + label {
  background: #889fa8;
}
.userOptions form fieldset.choosePart label {
  padding: 10px;
  background: #454a51;
  margin: 2% 2% 0 2%;
  text-align: center;
  color: #f4f4f4;
  letter-spacing: 1px;
}
.userOptions form fieldset.choosePart label:hover {
  cursor: pointer;
}
.userOptions form #searchButton {
  border: 3px solid #f7f7f7;
  font-size: 3rem;
  padding: 10px 30px;
  background: rgba(50, 67, 83, 0.9);
  border-radius: 50px;
  text-align: center;
  font-family: "clear_sans_lightregular";
  color: #d6d6d6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.userOptions form #searchButton:hover, .userOptions form #searchButton:focus {
  cursor: pointer;
  box-shadow: none;
  border: 3px solid #fff;
  background: #24313e;
  color: #f7f7f7;
}

div.resultsBkg {
  background-color: #445463;
  width: 100%;
  padding: 0;
  min-height: 600px;
  position: relative;
}
div.resultsBkg .wrapper {
  width: 90%;
  max-width: 1200px;
  padding: 5% 0 10% 0;
}

aside {
  width: 25%;
  height: auto;
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 3%;
  left: 5%;
}
aside h2 {
  color: #f7f7f7;
}
aside button {
  display: block;
  box-shadow: none;
  border: 2px solid #5D677B;
  font-size: 2rem;
  padding: 10px 20px;
  background: rgba(50, 67, 83, 0.9);
  border-radius: 50px;
  text-align: center;
  font-family: "clear_sans_lightregular";
  color: #91969D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 12px;
}
aside button:first-of-type {
  margin-top: 10px;
}
aside button:hover, aside button:focus {
  border: 2px solid #24313E;
  color: #f7f7f7;
}
aside button span {
  display: inline-block;
  vertical-align: middle;
}
aside .currentFilter {
  border: 2px solid #24313E;
  color: #f7f7f7;
}
aside .goBack {
  position: relative;
  margin-top: 25px;
  padding-top: 15px;
}
aside .goBack:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 60%;
  border-top: 1px dashed white;
}

.fixed {
  position: fixed;
  top: 11%;
}

section.results {
  width: 73%;
  float: right;
  text-align: left;
}
section.results #credit {
  text-align: right;
}
section.results #credit #yummly {
  display: none;
}
section.results #credit img {
  position: relative;
  top: 11px;
}
section.results ul {
  padding: 0;
  list-style-type: none;
}
section.results ul .recipe {
  width: 100%;
  list-style-type: none;
  padding: 20px;
  border-top: 1px solid #000;
  position: relative;
}
section.results ul .recipe:hover {
  background-color: rgba(50, 67, 83, 0.7);
}
section.results span.primary {
  width: 100%;
  font-family: "clear_sans_mediumregular";
}
section.results span.primary h3 {
  font-size: 2.4rem;
}
section.results span.primary h4 {
  font-size: 2rem;
}
section.results .recipeImage {
  width: 300px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}
section.results .recipeImage img {
  width: 100%;
}
section.results span.secondary {
  position: relative;
  top: 10px;
}
section.results span.secondary h5 {
  font-size: 1.8rem;
}

footer {
  clear: both;
  width: 100%;
  font-weight: 600;
}
